{% extends 'unfold/layouts/base_simple.html' %}

{% load cache unfold i18n %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}


{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
        </a>
    </h1>
{% endblock %}

{% block extrastyle %}
<style>

    .row {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

    .col {
        height: 100%;
        width: 40%;
        display: inline-block;
    }

    .widget-icon {
        font-size: 60px;
        color: rgb(var(--color-primary-300)/var(--tw-bg-opacity));
    }

    .widget-text {
        font-size: 35px;
    }   
</style>
{% endblock %}

{% block content %}
    {% component "unfold/components/container.html" %}
        {% component "unfold/components/flex.html" with class="gap-4"%}
            {% component "unfold/components/navigation.html" with items=navigation %}
            {% endcomponent %}

            {% component "unfold/components/navigation.html" with class="ml-auto" items=filters %}
            {% endcomponent %}
        {% endcomponent %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row text-center"%}
            {% for card in cards %}
                {% component "unfold/components/card.html" with class="lg:w-1/4" %}
                    <div class="row">
                        <div class="col">
                            <span class="material-symbols-outlined widget-icon align-middle">
                                {{ card.icon }}
                            </span>
                        </div>
                        <div class="col align-middle">
                        {% component "unfold/components/text.html" %}
                            {{ card.title }}
                        {% endcomponent %}

                        {% component "unfold/components/text.html" %}
                            <span class="widget-text align-middle ml-2">
                                {{ card.metric }}
                            </span>
                        {% endcomponent %}
                        </div>
                    </div>

                    {% if card.footer %}
                        <div class="row">
                            {% component "unfold/components/text.html" %}
                                {{ card.footer }}
                            {% endcomponent %}
                        </div>
                    {% endif %}
                {% endcomponent %}
            {% endfor %}
        {% endcomponent %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            {% component "unfold/components/card.html" with class="lg:w-1/3"  title="더미데이터" %}
                {% component "unfold/components/chart/bar.html" with data=bar_chart_data.data options=bar_chart_data.options height=250 %}
                {% endcomponent %}
            {% endcomponent %}
            {% component "unfold/components/card.html" with class="lg:w-2/3" title="활성사용자 그래프" %}
                {% component "unfold/components/chart/line.html" with data=line_chart_data.data options=line_chart_data.options height=370 %}
                {% endcomponent %}
            {% endcomponent %}
        {% endcomponent %}

        {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
            {% component "unfold/components/card.html" with class="lg:w-1/2" title="유저활동" %}
                {% component "unfold/components/table.html" with table=table_data card_included=1 striped=1 %}{% endcomponent %}
            {% endcomponent %}
            {% component "unfold/components/card.html" with class="lg:w-1/2" title="활성도" %}
                {% for progress in progress_data %}
                    {% component "unfold/components/progress.html" with class="mb-2" title=progress.title description=progress.description value=progress.value %}{% endcomponent %}
                {% endfor %}
            {% endcomponent %}
        {% endcomponent %}

    {% endcomponent %}
{% endblock %}